<body class="background">
    <section>
        <form autocomplete="off" [formGroup]="forms" (ngSubmit)="saveInfoUser()" >
            <div class="col center">
                <h1 class="h1 text-dark  " >Login</h1>
                <div class="form-group row ">
                    <div class="col ">
                        <label class="col-form-label text-light ">Email</label>
                        <input class="form-control"
                               type="email"
                               formControlName="email"
                               [class]="validField('email')"   
                        >
                        <small *ngIf="invalidField('email')"
                            class="text-danger"><b>Please provide a valid email</b>
                        </small>               
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col ">
                        <label class="col-form-label text-light">Password</label>
                        <input class="form-control"
                               type="password"
                               formControlName="password"
                               [class]="validField('password')"   
                        >
                        <small *ngIf="invalidField('password')"
                               class="text-danger"><b>Please enter your a correct password (8 - 24 characters) </b>
                        </small>               
                    </div>
                </div>  
                <div class="d-grid gap-2 col-8 mx-auto mb-3">
                    <div class="row ">
                        <div class="col">
                            <button [disabled]="forms.invalid" type="submit" class=" mt-3 btn btn-outline-primary btn-lg btn-block text-center">
                                Submit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</body>



